<div class="right-container">
  <div class="title-container">
    <header class="title-header">
      <h2>Projects</h2>
    </header>
    <div class="title-menu">
      <button (click)="filterCategory('all')">all</button> / 
      <button (click)="filterCategory('personal')">personal</button> / 
      <button (click)="filterCategory('hackathon')">hackathon</button> / 
      <button (click)="filterCategory('academic')">academic</button>
    </div>
  </div>
  <section class="project-container" *ngFor="let project of state.selectedProjects">
    <a href="project.link">
      <div class="project-image">
        <img class="project-image-actual" src="{{ '../../../' + project.imageLink }}">
      </div>
      <div class="project-content">
        <header class="project-header">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-subtitle">{{ project.subtitle }}</p>
        </header>
        <p class="project-caption" *ngIf="project.caption ? true : false">{{ project.caption }}</p>
        <div class="project-text">
          <p>{{ project.description }}</p>
        </div>
      </div>
    </a>
  </section>
</div>