<div class="sidebar" id="menu-sidebar">
  <main class="sidebar-content">
    <h2 class="sidebar-header">Qingda Zou</h2>
    <nav class="site-nav">
      <ul>
        <li routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact:
          true}" class="about-link"><a class="nav-link" routerLink="/">about</a></li>
        <li routerLinkActive="nav-active" class="code-link"><a class="nav-link" routerLink="/projects">code</a></li>
        <li routerLinkActive="nav-active" class="photography-link"><a class="nav-link" routerLink="/photography">photography</a></li>
      </ul>
    </nav>
    <div class="iconbar">
      <a class="icon-link" href="https://github.com/ZQingda" target="_blank"><i class="icon icon-github"></i></a>
      <a class="icon-link" href="https://www.linkedin.com/in/zqingda/" target="_blank"><i class="icon icon-linkedin"></i></a>        <a class="icon-link" href="mailto:qingda.zou@gmail.com" target="_blank"><i class="icon icon-email"></i></a>
    </div>
  </main>
</div>