// ===============================================
// Color codes
// ===============================================

$pastel-blue:  #f4fbff

$light-cream: #f6f4ed
$super-light-cream: #fffdfc

$twilight: #131835
$dawn: #eaebf2

$super-light-grey: #f2f2f2
$lighterer-grey: #eeeeee
$lighter-grey: #999999
$light-grey: #888888
$grey: #555555
$dark-grey: #333333
$darker-grey: #222222


$content-bg: white
$text-lighterer: $lighterer-grey
$text-lighter: $lighter-grey
$text-light: $light-grey
$text-dark: $dark-grey
$text-darker: $darker-grey

$project-main-header: $lighter-grey

// ===============================================
// Sizes
// ===============================================

$sidebar-width: 250px
$sidebar-height: 96px
$sidebar-mobile-height: 60px

// ===============================================
// Z-Indexs
// ===============================================

$sidebar-zindex: 5
$lightbox-zindex: 6