<div class="right-container">
  <!-- <h1 class="page-header">ABOUT</h1> -->
  <div class="content-card">
    <main class="content">
      <header class="content-header">
        <div class="profile-image">
          <div class="profile-image-border">
            <div class="profile-image-actual"></div>
          </div>
        </div>
        <div class="profile-title"><h2>Hello there</h2></div>
      </header>
      <div class="profile-text">
        <p>I'm Qingda Zou, a [ web / interface / software ] developer who also dabbles in design. I've worked primarily with the MERN/MEAN stacks during my past internships, as well as Docker and Kubernetes in a devops position.</p>
        <p>Outside of work, I've worked with some smart people on a variety of funky projects ranging from data visualizers to messenger bots to top-scrolling games, written with Python or C++.</p>
        <p>In my spare time I like to draw, or take photographs.</p>
      </div>
    </main>
  </div>
</div>