@import "variables"
@import "breakpoints"

// ===============================================
// Local variables
// ===============================================

$top-row-height: 200px
$super-light-grey-border: 2px solid $super-light-grey

// ===============================================
// Typography
// ===============================================

.content-title
  font-family: 'Roboto Slab', sans-serif
  font-weight: 700
  font-size: 3.2rem
  color: $text-dark

.content-text
  font-family: 'Nunito', sans-serif
  font-weight: 300
  color: $text-dark

  p
    margin-bottom: 20px

    &:first-child
      //text-align: justify

// ===============================================
// Layout / Style
// ===============================================

// \:host
//   width: calc(100% - #{$sidebar-width})

.right-container
  //height: 100%
  background-color: $content-bg
  display: flex
  flex-direction: column
  // justify-content: center
  // align-items: center
  
  +tablet
    width: 100%
    margin: $sidebar-height 0 0 0

  +desktop
    width: calc(100% - #{$sidebar-width})
    margin: 0 0 0 $sidebar-width

.page-header
  margin: 30px 0 0 30px

.content-card
  margin: 50px

  width: calc(100% - 100px)
  max-width: 744px
  background-color: $content-bg

  //border: $super-light-grey-border
  //box-shadow: -3px 3px 40px -28px rgba(189,189,189,1);

.content
  width: 100%
  height: 100%
  padding: 20px

  //border: $super-light-grey-border

.content-header
  width: 100%
  height: $top-row-height
  padding: 20px
  display: flex

  border-bottom: $super-light-grey-border

.profile-image
  margin-right: 30px

  .profile-image-border
    height: calc(#{$top-row-height} - 40px)
    width: calc(#{$top-row-height} - 40px)
    padding: 10px
    border: $super-light-grey-border
    
    .profile-image-actual
      height: 100%
      width: 100%
      background: url(../../../assets/images/profile-1.jpg) no-repeat
      background-size: cover
      background-position: 0 -25px
    
.content-title
  display: flex
  align-items: center
  height: calc(#{$top-row-height} - 40px)

.content-text
  padding: 20px

