@import "variables"
@import "breakpoints"

// ===============================================
// Local variables
// ===============================================

$top-row-height: 200px
$super-light-grey-border: 2px solid $super-light-grey

// ===============================================
// Typography
// ===============================================

.content-title
  font-family: 'Roboto Slab', sans-serif
  font-weight: 700
  font-size: 3.2rem
  color: $text-dark

.content-text
  font-family: 'Nunito', sans-serif
  font-weight: 300
  color: $text-dark

  p
    margin-bottom: 20px

    &:first-child
      //text-align: justify

// ===============================================
// Layout / Style
// ===============================================

// \:host
//   width: calc(100% - #{$sidebar-width})

.right-container
  +tablet
    align-items: center
  +desktop
    height: 100%
    align-items: flex-start
    justify-content: center

.page-header
  margin: 30px 0 0 30px

.content-card
  max-width: 744px
  background-color: $content-bg

  //border: $super-light-grey-border
  //box-shadow: -3px 3px 40px -28px rgba(189,189,189,1);

  +mobile
    margin: 0
    width: 100%

  +tablet
    margin: 50px
    width: calc(100% - 100px)

.content
  width: 100%
  padding: 20px

  //border: $super-light-grey-border

.content-header
  width: 100%
  padding: 20px
  display: flex

  border-bottom: $super-light-grey-border

  +mobile
    padding: 20px 0
    flex-flow: column nowrap
    align-items: center
  
  +tablet 
    height: $top-row-height

.profile-image
  margin-right: 30px

  +mobile
    margin: 0

  .profile-image-border
    height: calc(#{$top-row-height} - 40px)
    width: calc(#{$top-row-height} - 40px)
    padding: 10px
    border: $super-light-grey-border
    
    .profile-image-actual
      height: 100%
      width: 100%
      background: url(../../../assets/images/profile-1.jpg) no-repeat
      background-size: cover
      background-position: 0 -25px
    
.content-title
  display: flex
  align-items: center

  +mobile
    margin-top: 20px
    h2
      text-align: center

  +tablet
    height: calc(#{$top-row-height} - 40px)

.content-text
  padding: 20px

