@import "variables"
@import "breakpoints"

// ===============================================
// Local variables
// ===============================================

$super-light-grey-border: 1px solid $lighterer-grey
$lighterer-grey-border: 1px solid $lighterer-grey

$image-space-around: 40px // 80px between each image
$image-space-around-mobile: 20px // 40px between each image

// ===============================================
// Typography
// ===============================================

.image
  font-family: 'Nunito', sans-serif
  font-weight: 300
  color: $text-dark

.caption
  font-family: 'Nunito', sans-serif
  font-weight: 300
  font-size: 0.8rem
  color: $text-light

.icon-button
  color: $text-lighter
.icon-button:hover
  color: $text-dark

.icon-button
  font-size: 1.2rem
  text-align: center

.image-info
  font-family: 'IBM Plex Sans', sans-serif
  font-size: 1rem
  font-weight: 200
  color: $text-light
  .name
    font-weight: 300
  .count
    font-size: 0.8rem

// ===============================================
// Layout / Style
// ===============================================

.lightbox-container
  margin: 0 40px 40px 40px
  //padding-bottom: 100px

  max-width: 700px

  +mobile
    margin: 0 0 40px 0

.carousel
  display: flex
  flex-flow: row wrap

  width: 100%
  max-width: 700px

.image-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  flex: 0 1 350px

  .image
    +mobile
      width: calc(100% - 2*#{$image-space-around-mobile})
      margin: 10px $image-space-around-mobile
    +tablet
      width: calc(100% - 2*#{$image-space-around})
      margin: 5px $image-space-around
    
    &:hover
      cursor: pointer
    
  .caption
    display: inline-block
    width: 100%
    margin: 10px 0 25px 0
    text-align: right

    +mobile
      padding: 0 $image-space-around-mobile
    +tablet
      padding: 0 $image-space-around

.lightbox
  position: fixed
  top: 0
  left: 0
  visibility: collapse
  width: 100vw
  height: 100vh
  
  z-index: $lightbox-zindex
  opacity: 0
  background-color: white
  transition: opacity 80ms ease-in-out

  &.is-displayed
    visibility: visible
  &.is-visible
    opacity: 1

  img
    height: calc(100% - 100px)
    width: 100%
    margin-top: 50px
    object-fit: contain
    object-position: 50% 50%
  
  .close
    position: absolute
    top: 0
    right: 0
    height: 50px
    width: 50px

  .image-info
    display: flex
    align-items: center
    height: 50px

    position: absolute
    bottom: 0
    left: 30px

    p
      padding: 0 25px 0 5px